*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-size: 62.5%;
}
body {
    background: black;
    color:white;
}


ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-left {
    margin: 0 40px 0 40px;
}

.nav-right {
    display: flex;
    margin: 15px 70px 0 40px;
}

.lang {
    margin: 0 10px;
}

select {
    width: 100px;
    height: 30px;
    background-color:rgba(0, 0, 0, .5);
    border-color:rgb(255, 255 , 255);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 5px;
    
}

option {
    background: rgba(244, 244, 244, 0.5);
    color: rgb(0, 0, 0);
}

.signIn {
    width: 65px;
    height: 30px;
    background-color: #C11119;
    color:white;
    border-radius: 5px;

}

a {
    text-decoration: none;
    font-size:4rem;
    font-weight: bold;
    color: #C11119;
}

.main-container {
    margin: 300px 0  0 300px;
}

.title {
    margin: 10px 0 0 0;
    font-size: 5rem;
    font-weight: bold;
}

.pricephrase {
    font-size: 2rem;
    font-weight: bold;
}

.membership {
    margin: 40px 0 0 0;
}

.membership > h2 {
    color:grey;
}

#email {
    width: 395px;
    height:50px;
    background-color:rgba(0, 0, 0, 0.5);
    border-color:rgb(255, 255 , 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 2px;
}

.submit-btn {
    width: 200px;
    height:50px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #C11119;
    color:white;
}

.containerPlans {
    margin: 200px 0 0 300px;
}

.plans {
    display: flex;
}


.planText {
    font-size: 3rem;
}


.basic,
.standard,
.premium {
    color: white;
    background: linear-gradient( to bottom, rgb(103, 23, 55), rgb(34, 25, 27));
    border-radius: 10px;
    width: 350px;
    height: 250px;
    padding: 50px 30px;
    margin: 0 20px 0 0;
}

.movies {
    margin: 0 0 0 20px;
}

.containerShows {
    margin: 75px 0 0 300px;
}

.listBox {
    display:flex;
    justify-content:left;
    margin: 30px 0 0 0;
}

.list {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.shows {
    color: rgb(255, 252, 252);
}

.show-btn {
    border-radius: 20px;
    background: black;
}

